@charset "utf-8";


*{
	font-family: Malgun Gothic;
}
/* board-container */
div{
	box-sizing: border-box;
}
.board-area {
	position: relative;
	padding: 15px;
	padding-left: 368px;
	color: white;
}
.board-area > img{
	position: absolute;
	height: 220px;
	z-index: -1;
	top: 0;
	left: 0;
}
.board-title {
	font-size: 50px;
	padding-top: 30px;
	margin-bottom: 0;
}
.board-ul {
	display: flex;
	list-style: none;
	color: black;
	font-weight: bold;
	font-size: 16px;
	padding: 30px;
	padding-left: 0;
	color: white;
}
.board-ul li {
	margin: 7px;
}
.board-ul  li:nth-child(2n) {
	color: #f5bd43;
}
.board-list {
	width: 1170px;
	margin: 0 auto;
}
.board-list div {
	border: 1px solid black;
}
.board-list-title {
	display: flex;	
}
.board-total {
	line-height: 50px;
	padding-right: 535px;
}
.board-search {
	padding-right: 0;
}
.board-search input {
	width: 300px;
	height: 50px;
	padding: 0 28px;
	border-radius: 70px;
	font-size: 16px;
}
.board-notice-list {
	display: flex;
	padding-left: 40px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.board-notice-icon {
	padding-right: 60px;
}
.board-notice-title {
	width: 900px;
}
.board-notice-date {
	width: 150px;
	text-align: center;
}
.board-post-list {
	display: flex;
	padding-left: 40px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.board-post-number {
	padding-right: 65px;
}
.board-post-title {
	width: 900px;
}
.board-post-date {
	width: 150px;
	text-align: center;
}

/* 성훈 추가  */
.border-zero {
    border: 0;
}
.newswrite-form {
	margin: 0 auto;
	width: 1200px;
	margin-top: 10px;
}
.newswrite-submit {
	width: 90px;
	height: 40px;
	background-color: #ff0000;
	border: 0;
	border-radius: 0.1cm;
	color: white;
	font-weight: bold;
}

/* 2022-01-20 추가 */

.detail-news{
	display: flex;
	width : 1200px;
	border : 1px solid black;
	margin : auto;
}

.detail-header{
	display: flex;
	width : 1200px;
	border : 1px solid black;
	margin : auto;
	justify-content: space-between;
}
.detail-header > .detail-num {
	display : flex;
	width : 230px;
	border : 1px solid black;
}
.detail-header > div{
	margin-right : 10px;
}
.detail-header > .detail-title{
	font-weight: bold;
	font-size: 20px;
}
.detail-header > .detail-num > .detail-regDate, .detail-cnt{
	color : darkgrey;
	font-weight: bold;
	font-size: 20px;
}
.detail-header > .detail-regDate > span{
	color : black;
}

.detail-hr{
	width : 1200px;
	height : 5px;
	background-color : black;
	margin : auto;
	margin-top : 30px;
	margin-bottom : 30px;
}
.detail-hr1 {
	width : 1200px;
	background-color : #dadada;
	margin : auto;
	margin-top : 30px;
	margin-bottom : 30px;
}
.detail-content{
	width : 1200px;
	border: 1px solid black;
	margin : auto;
	text-align: center;
}
/* 성훈 01-24 추가 */
.btn-list{
	width : 1200px;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
}

#news-modify {
	width: 75px;
	height: 45px;
	font-weight: bold;
	border-radius: 0.1cm;
	color: white;
	font-weight: bold;
	background-color: #ffbc0d;
	font-size: 14px;
	margin: 0 5px;
}

#news-delete {
	width: 75px;
	height: 45px;
	font-weight: bold;
	border-radius: 0.1cm;
	color: white;
	font-weight: bold;
	background-color: #264a36;
	font-size: 14px;
	margin: 0 5px;
	}

.btn-list1{
	width : 1200px;
	border : 1px solid black;
	margin : auto;
	display: flex;
	justify-content: space-between;
}
.btn-list1 > .prev-btn, .next-btn{
	border : 0;
	width : 70px;
	height: 70px;
	font-size: 30px;
	border-radius: 50px;
	cursor: pointer;
	background-color: #dadada;
}
.news-list-btn{
	width : 150px;
	height: 70px;
	border : 0;
	background-color: #ffbc0d;
	border-radius: 35px;
	font-size: 20px;
	font-weight: bold;
	color : white;
	border : 1px solid black;
	cursor: pointer;
}

/* 2022-01-22 추가 */
.news-paging{
	width : 220px;
	border: 1px solid black;
	margin : auto;
	margin-top : 20px;
}
.news-current-btn{
	border : 0;
	width : 25px;
	height : 25px;
	font-size : 20px;
	background-color: white;
	margin : auto;
	cursor: pointer;
}
.news-current-btn:hover{
	color : darkgrey;
}
.bold{
	color : #f5bd43;
}

/* 2022-01-23 추가  */

#onOffBox {
    position: absolute;
    visibility: hidden;
}

#boxLabel {
    display: block;
    position: absolute;
    width: 60px;
    height: 34px;
    border-radius: 17px;
    background-color: #ddd;
    transition-duration: 0.2s;
    margin-left: -80px;
}

#boxLabel span {
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    transition-duration: 0.2s;
}

#boxLabel:before,
#boxLabel:after{
    position: absolute;
    top: 0;
    width: 34px;
    font-size: 11px;
    line-height: 34px;
    color: #fff;
    text-align: center;
}

#boxLabel:before {
    left: 0;
    content: 'ON';
}

#boxLabel:after {
    right: 0;
    content: 'OFF';
}

input[name="onOff"]:checked + #boxLabel {
    background-color: #00c73c;
}

input[name="onOff"]:checked + #boxLabel span {
    transform: translateX(26px);
}

.QnA-top{
	width : 1200px;
	height: 50px;
	border : 0px solid black;
	margin : auto;
	display: flex;
	justify-content: space-between;
}

.QnA-top > .QnA-top-left{
	display: flex;
}

.QnA-top > .QnA-top-left > div > a > .QnA-write{
	border : 0;
	background-color: #ffbc0d;
	color : white;
	width : 120px;
	height: 40px;
	border-radius: 20px;
	margin-right : 10px;
	cursor: pointer;
}

.QnA-top > .QnA-top-left > div > .QnA-search{
	border : 0;
	background-color: #264a36;
	color : white;
	width : 120px;
	height:  40px;
	border-radius: 20px;
	cursor: pointer;
}

.QnA-top > .QnA-top-right{
	display: flex;
}


.QnA-top > .QnA-top-right > .QnA-onOff{
	margin-left : -30px;
}

.QnA-result > select{
	border : 1px solid #dadada;
	width: 90px;
	padding: 5px;
}

.QnA-result > select > option{
	padding : 5px;
	
}

.QnA-content-left{
	display: flex;
	width : 1200px;
	border : 0px solid black;
	margin : auto;
	padding-top : 5px;
	margin-top : 20px;
	border-top : 1px solid black;
	border-bottom: 1px solid #dadada;
}
.QnA-content-left > .QnA-content-result{
	width : 200px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
	
}
.QnA-content-left > .QnA-content-title{
	width : 600px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
	
}
.QnA-content-left > .QnA-content-writer{
	width : 200px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
	
}
.QnA-content-left > .QnA-content-regDate{
	width : 200px;
	height : 60px;
	border : 0px solid black;
	text-align: center;
	padding-top : 20px;
}
